.bills-tabs .nav-item .nav-link {
    background: white;
    border: 0;
    color: black;
    border-radius: 50px;
    width: auto !important;
    margin-inline: 20px;
    font-size: 0.95rem;
    padding-block: 5px;
    padding-inline: 20px;
    transition: all 0.3s;
}

.bills-tabs .nav-item .nav-link.active{
    border: 1px solid black;
    transition: all 0.3s;
}

.bills-table-header{
    background: transparent;
    border: 0px;
    text-align: center;
}

.navbar-nav-link.active hr {
    opacity: 1 !important;
    transition: all 0.5s;
}

.navbar-nav-link p {
    color: black
}

.doctor-modal-card:hover {
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.doctor-modal .modal-dialog{
    max-width: 600px !important;
}

.footer-icon-button {
    width: 40px;
    border-radius: 20px;
}

.footer-links .nav-link {
    color: black !important;
}

.footer-links .nav-link:hover {
    text-decoration: underline;
}

.district-doctor-page-time-card:hover{
    background: #27B085 !important;
    color: white !important;
}

.district-doctor-page-date-card.active {
    background: #27B085;
    color: white !important;
}

.district-doctor-page-back-btn {
    background: #F5F5F5;
    border: 0;
    color: black;
}

.district-doctor-page-back-btn:hover{
    background: grey !important;
}

.doctor-calendar-appointment.approved.active{
    background: #277bb0;
    cursor: pointer;
}


.doctor-calendar-appointment.cancelled.active{
    background: #923543;
    cursor: pointer;
}

.doctor-calendar-appointment.completed.active{
    background: #27B085;
    cursor: pointer;
}

.doctor-calendar-appointment.active:hover{
    filter: brightness(1.15);
    transition: all 0.5s;
}


.doctor-calendar-appointment.active p{
    color: black !important;
}

.user-appointment-card-status-message{
    visibility: hidden;
    filter: brightness(1.3);
    z-index: 100;
    width: 100%;
    height: 100px;
    position: absolute;
    left: 51%;
    border-radius: 5px 0 0 5px;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    & h1 {
        text-shadow: -1px 1px 4px rgba(0,0,0,0.5);
    }

}



.user-appointment-card.cancelled {
    filter: brightness(0.8);

    .user-appointment-card-status-message{
        visibility: visible;
        background: #923543;
    }
}

.user-appointment-card.completed {
    filter: brightness(0.8);

    .user-appointment-card-status-message{
        visibility: visible;
        background: #27B085;
    }
}

.user-appointment-card.rejected {
    filter: brightness(0.8);

    .user-appointment-card-status-message{
        visibility: visible;
        background: #923543;
    }
}

.user-appointment-card.sent {
}

.user-appointment-card.approved {
}

.doctor-calendar-appointment.list.cancelled {
    background: #923543;
}

.doctor-calendar-appointment.list.completed {
    background: #27B085;
}

.doctor-calendar-appointment.list.approved {
    background: #277bb0;
}

.doctor-schedule-list-hide-check-switch .form-check-input:checked{
    background-color: #27B085;
    border-color: #27B085;
}

